.App {
  text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    grid-row-gap: 10px;
  }
  
.column {
    flex: 25%;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
   
  }
  
  /* On screens that are 800px wide or less, go from three columns to two columns */
  @media screen and (max-width: 800px) {
    .column {
        flex: 33.33%;
    }
  }
  
  /* On screens that are 500px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .row {
       
       flex-direction: column;
    }
  }

.button {
    background-color: #0055ff;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 10px 0px;
    cursor: pointer;
}

    .button:active {
        opacity: .8;
        box-shadow: 0 5px #aaaaaa;
        transform: translateY(2px);
    }

.roundbtn {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.counter-header {
    padding: 5px;
    text-align: center;
    font-size: 25px;
    background-color: #eeeeee
}